/*body,html{*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*padding: 0px;*/
    /*margin: 0px;*/
/*}*/
.navbar-default {
    margin-bottom: 0px;
    border-radius: 0px;
}
.container-fluid {
    width: 80%;
    margin-left: 10%;
}
.nav>li>a{
    padding-top: 5px;
}
.carousel{
    height: 100%;
}
.carousel-inner{
    width: 100%;
    height: 100%;
}
.carousel-inner>.item.active{
    height: 100%;
    width: 100%;
}
.carousel-inner .item{
    width: 100%;
    height: 100%;
}
.carousel-inner>.item>img{
    height: 100%;
    width: 100%;
}
.myCarousel_home {
    height: calc(100% - 54px);
}

.whatDoWeDo {
    width: 80%;
    margin-left: 10%;
}
.panel {
    margin: 30px 0px 30px 0px;
}
.whatDoWeDo .panel{
    border-radius: 0px;
    border:none;
    border-bottom: 1px solid #00000030;
}
.whatDoWeDo .panel-body {
    font-size: 32px;
}
.whatDoWeDo .panel-body span{
    color: #00a9f6;
}
.link{display: none;}

.min_carousel {
    list-style: none;
    float: left;
    width: 15%;
    height: 50%;
    margin: 0px 0.83%;
}
.min_carousel img{
    margin-top: calc(50% - 68px);
    width: 136px;
    height: 60px;
}
.about_us{
    width: 100%;
    height: 100%;
}
.about_us ul{
    list-style: none;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}
.about_us ul li{
    width: 80px;
    height: 80px;
    float: left;
    list-style: none;
    border-radius: 50%;
    border: 1px #61656e solid;
    line-height: 80px;
    text-align: center;
    margin: 0px calc(calc(100% - 320px)/8);
}
.about_us ul li a{
    text-decoration: none;
}

#floot{
    width: 100%;
    height: 350px;
    margin-top: 30px;
}
#floot .gd_info{
    width: 100%;
    height: 280px;
    background: #565c66;
}
.gd_info .gzh_code{
    width: 40%;
    margin-left: 10%;
    height: 100%;
    float: left;
    color: white;
    text-align: center;
}
.gd_info .gzh_code img{
    padding-top: 50px;
}
.gd_info .company_info{
    width: 40%;
    height: 100%;
    float: left;
    text-align: left;
}
.company_info .info_h{
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: white;
}
.company_info .info_line {
    width: 100px;
    height: 1px;
    background: white;
}
.company_info .info_li ul{
    margin-left: 0px;
    padding-left: 0px;
    width: 100%;
    height: calc(100% - 51px);
    list-style: none;
    color: white;
}
.company_info .info_li ul li {
    height: 35px;
    line-height: 35px;
}
#floot .gd_copyright{
    width: 100%;
    height: 70px;
    background: #29333c;
    font-size: 14px;
    color: white;
    line-height: 70px;
    text-align: center;
}
.content {
    width: 80%;
    margin: 30px 0px 30px 10%;
}
.myProduct {
    width: 25%;
    margin: 30px 0px;
    float: left;
}
.list-group{
   width: 100%;
   margin-bottom: 0px;
}
.list-group-item:last-child{
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.list-group-item.active:first-child{
    padding-left: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.list-group-item-heading{
    padding-left: 20px;
}
.myProductContent{
    width: 70%;
    margin: 0px 0px 0px 5%;
    float: left;
}
.panel-title{
    text-align: center;
}
.solution{
    width: 80%;
    margin: 30px 0px 30px 10%;
    text-align: center;
}
.solution a{
    text-decoration: none;
}
.mySolutionDetailsContent {
    width: 80%;
    margin: 30px 0px 30px 10%;
}
.mySolution{
    width: 25%;
    margin: 30px 0px;
    float: left;
}
.aboutContent {
    width: 80%;
    margin: 30px 0px 30px 10%;
}
.purchaseContent{
    width: 80%;
    margin: 30px 0px 30px 10%;
}

.container{
    float: left;
    width: 208px;
    height: 208px;
    padding: 0px;
}
.container img {
    width: 100%;
    height: 100%;
}
.jumbotron{
    width: 65%;
    float: left;
    padding: 10px;
    margin: 0px 0px 0px 30px;
    font-size: 18px;
    line-height: 30px;
    background-color: white;
}
.product_line{
    width: 1px;
    height: 208px;
    float: left;
    border-left: 1px solid #9297a0;
}
.product_btn{
    height: 208px;
    float: left;
    width: calc(35% - 249px);
}
.product_btn ul{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.product_btn ul li{
    width: 100%;
    height: 50%;
    list-style: none;
    text-align: center;
}
.product_btn ul li button{
    margin-top: 38px;
}