.table-striped thead th {
    text-align: center;
}

.table-striped tbody tr td {
    text-align: center;
}
#price table,#price table th{
    text-align: center;
}
#price table tr th{
    border: 1px solid #ddd;
}
#price table tr td{
    border: 1px solid #ddd;
}