<div class="content">
    <div class="myProduct">
        <div class="list-group">
            <a href="/aboutContent?id=1" class="list-group-item">
                <h4 class="list-group-item-heading">
                    成立宣言
                </h4>
            </a>
            <a href="/aboutContent?id=2" class="list-group-item">
                <h4 class="list-group-item-heading">
                    公司简介
                </h4>
            </a>
            <a href="/aboutContent?id=3" class="list-group-item">
                <h4 class="list-group-item-heading">
                    资质荣誉
                </h4>
            </a>
            <a href="/aboutContent?id=4" class="list-group-item">
                <h4 class="list-group-item-heading">
                    企业文化
                </h4>
            </a>
            <a href="/aboutContent?id=5" class="list-group-item">
                <h4 class="list-group-item-heading">
                    庚顿动态
                </h4>
            </a>
            <a href="/aboutContent?id=6" class="list-group-item">
                <h4 class="list-group-item-heading">
                    庚顿分享
                </h4>
            </a>
            <a href="/aboutContent?id=7" class="list-group-item">
                <h4 class="list-group-item-heading">
                    联系我们
                </h4>
            </a>
        </div>

    </div>
    <div class="myProductContent">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" th:text="${title}">
                </h3>
            </div>
            <div class="panel-body" th:utext="${html}">
            </div>

        </div>
    </div>
    <div style="clear: both;"></div>
</div>