<div style="width: 60%;margin-left: 20%;margin-top: 30px;margin-bottom: 30px;">
    <!-- 左对齐 -->
    <div class="media" >
        <div class="media-left">
            <img th:src="${wpbi.imgpath}" class="media-object" style="width:60px">
        </div>
        <div class="media-body" >
            <h4 class="media-heading"  th:text="${wpbi.title}" ></h4>
            <p th:text="${wpbi.content}"></p>
        </div>
    </div>
    <hr>
    <div class="media" style="text-align: right;">
        <label>规格(标签点)</label>
        <select class="form-control" style="width: auto;display: inline;margin-right: 20px;" th:utext="${op}" id="price_op" onchange="change_price()">
        </select>
        <label>价格(元)</label>
        <input class="form-control" id="disabledInput" type="text"  style="width: auto;display: inline;margin-right: 20px;" disabled>
        <button type="button" class="btn btn-warning" onclick="doBuy()">立即购买</button>
    </div>
    <hr>
    <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a href="#parameter" data-toggle="tab">产品参数</a></li>
        <li><a href="#price" data-toggle="tab">产品价格</a></li>
        <li><a href="#details" data-toggle="tab">产品详情</a></li>
        <li><a href="#notice" data-toggle="tab">购买须知</a></li>
    </ul>
    <div id="myTabContent" class="tab-content" style="border-left: 1px solid #ddd;border-right: 1px solid #ddd;border-bottom: 1px solid #ddd;">
        <div class="tab-pane fade in active" id="parameter" th:utext="${wpbi.parameter}" style="padding: 30px;">
        </div>
        <div class="tab-pane fade" id="price" th:utext="${wpbi.price}" style="padding: 30px;">
        </div>
        <div class="tab-pane fade" id="details" th:utext="${wpbi.details}" style="padding: 30px;">
        </div>
        <div class="tab-pane fade" id="notice" th:utext="${wpbi.notice}" style="padding: 30px;">
        </div>
    </div>
</div>
