<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>客户案例</title>
    <link th:href="@{../bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{../bootstrap/css/bootstrap-theme.css}" rel="stylesheet">
    <link th:href="@{../myCSS/index.css}" rel="stylesheet">
</head>
<body id="body">
<div th:include="head"></div>
<div style="width: 100%;">
    <img src="../images/kehu.jpg" style="width: 100%;">
</div>
<div th:replace="myCustomerContent"></div>
<div th:replace="floot"></div>
<script th:src="@{../jquery/jquery-3.3.1.min.js}" type="text/javascript"></script>
<script th:src="@{../bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{../jquery/jquery.validate.min.js}" type="text/javascript"></script>
<script th:src="@{../jquery/localization/messages_zh.js}" type="text/javascript"></script>
<script th:src="@{../myJS/md5.js}" type="text/javascript"></script>
<script th:src="@{../myJS/index.js}" type="text/javascript"></script>
<script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F641cf3d667ee473c735077afdc8692dc' type='text/javascript'%3E%3C/script%3E"));
    // var screenHeight = document.documentElement.clientHeight;
    // var screenWidth = document.documentElement.clientWidth;
    // var body = document.getElementById('body');
    // body.style.width = screenWidth + "px";
    // body.style.height = screenHeight + "px";
</script>
<script th:inline="javascript">
    var list = [[${list}]];
    $("#myProductTitle").html(list[0].title);
    $("#myProductContent").html(list[0].content);

    $(".list-group-item").on("click", function () {
        var list = [[${list}]];
        var id = $(this).attr("id");
        for (var i = 0; i < list.length; i++) {
            if (list[i].id == id) {
                $("#myProductTitle").html(list[i].title);
                $("#myProductContent").html(list[i].content);
            }
        }
    })
</script>
</body>
</html>