<div id="floot">
    <div class="gd_info">
        <div class="gzh_code">
            <img src="../images/code.jpg"/>
            <p>庚顿公众账号</p>
        </div>
        <div class="company_info">
            <div class="info_h">欢迎联系我们</div>
            <div class="info_line"></div>
            <div class="info_li">
                <ul>
                    <li class="el-icon-service"><img src="../images/service_floot.png">免费热线：400-628-5226</li>
                    <li class="el-icon-phone"><img src="../images/phone_floot.png">电话：010-82790169</li>
                    <li class="el-icon-printer"><img src="../images/fax_floot.png">传真：010-82825226</li>
                    <li class="el-icon-message"><img src="../images/email_floot.png">邮箱：service@golden-data.com.cn</li>
                    <li class="el-icon-location"><img src="../images/address_floot.png">地址：北京市海淀区中关村软件园2号楼B座</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="gd_copyright">
        京ICP备09070246号 版权所有 | Copyright(C) 2018 © All Rights Reserved
    </div>
</div>