<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!--<div class="navbar-header" style="height: 50px;vertical-align: middle; padding-top: 10px;">-->
            <!--<img src="../images/logo.png">-->
        <!--</div>-->
        <div class="navbar-header">
            <a class="navbar-brand" href="/home">首页</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="/product">软件产品</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="/customer">客户案例</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="/solution">行业领域</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="/about">关于庚顿</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="/purchase">产品购买</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="/download">资料下载</a>
        </div>
        <div class="navbar-header" style="float: right;padding: 10px 10px 0px 10px;line-height: 32px;font-size: 18px;color: #f59508;">
            <img src="../images/phone.png">
            <span>400-628-5226</span>&nbsp;&nbsp;
            <span>400-628-5226</span>
            <ul class="nav navbar-nav navbar-right">
                <li data-toggle="modal" data-target="#myModal" onclick="register()"><a href="javascript:void(0)" ><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                <li><a href="javascript:void(0)"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    注册
                </h4>
            </div>
            <div class="modal-body">
                <form class="cmxform" id="signupForm" method="post" action="/register">
                    <div class="form-group">
                         <label for="username">用户名</label>
                          <input id="username" name="username" class="form-control" type="text" placeholder="数字、字母组合(长度6~30)" minlength="6" maxlength="30" required>
                    </div>
                    <div class="form-group">
                         <label for="password">密码</label>
                         <input id="password" name="password" class="form-control" type="password" placeholder="8位数字" maxlength="8" minlength="8" required>
                    </div>
                    <div class="form-group">
                         <label for="confirm_password">验证密码</label>
                         <input id="confirm_password" name="confirm_password" class="form-control" type="password" placeholder="请再次输入密码" maxlength="8" minlength="8" equalTo="#password" required>
                    </div>
                    <div class="form-group">
                        <label for="verificationCode">验证码</label>
                        <input type="text" class="form-control" placeholder="请输入验证码(区分大小写)" id="verificationCode" maxlength="4" minlength="4" required >
                        <img src="" id="generatingCode">
                        <a onclick="register()">看不清楚</a>
                    </div>
                    <input style="display: none;" id="url" name="url">
                    <input class="submit" type="submit" value="Submit" style="display: none;">
                </form>
                <!--<form class="form-inline" role="form" id="registerInfo" method="post" action="/register">-->
                    <!--<div class="form-group">-->
                        <!--<label >用户名</label>-->
                        <!--<input type="text" class="form-control" placeholder="数字、字母组合(长度6~30)" minlength="6" maxlength="30" id="username" required>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label >密码</label>-->
                        <!--<input type="password" class="form-control" placeholder="8位数字" maxlength="8" minlength="8" id="password"  required>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label >确认密码</label>-->
                        <!--<input type="password" class="form-control" placeholder="请再次输入密码" maxlength="8" minlength="8" id="confirm_password" equalTo="#password" required>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label >验证码</label>-->
                        <!--<input type="text" class="form-control" placeholder="请输入验证码(区分大小写)" id="verificationCode" maxlength="4" minlength="4" required>-->
                        <!--<img src="" id="generatingCode">-->
                        <!--<a onclick="register()">看不清楚</a>-->
                    <!--</div>-->
                    <!--<input class="submit" type="submit" value="Submit" style="display: none;">-->
                <!--</form>-->

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" id="submit">
                    提交
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>