<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header" id="logo">
            <!--<img src="../images/logo.png" style="width: 100%;height: 100%;margin-top: 10px" >-->
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="/home">首页</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="/product">软件产品</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="/customer">客户案例</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="/solution">行业领域</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="/about">关于庚顿</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="/purchase">产品购买</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="/download">资料下载</a>
        </div>
        <div class="navbar-header" id="myinfo">
            <img src="../images/phone.png">
            <span>400-628-5226</span>&nbsp;&nbsp;
            <span>400-628-5226</span>
            <ul class="nav navbar-nav navbar-right" th:if="${session.token} != null">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                       th:utext="@{'欢迎您，'+${session.loginusername}}">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li th:if="${session.role} == 1"><a href="/manage">后台管理</a></li>
                        <li class="divider" th:if="${session.role} == 1"></li>
                        <li><a href="javascript:void(0);" th:if="${session.role} != 1">我的订单</a></li>
                        <li class="divider" th:if="${session.role} != 1"></li>
                        <li><a href="/myInfo" th:if="${session.role} != 1" >我的信息</a></li>
                        <li class="divider" th:if="${session.role} != 1"></li>
                        <li><a href="javascript:void(0);" id="up_pwd">修改密码</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:void(0);" id="logout">退出</a></li>
                    </ul>
                </li>
                <!--<li data-toggle="modal" data-target="#myModal" onclick="generatingVerificationCode()"><a href="javascript:void(0)" th:utext="@{'欢迎您，'+${loginuusername}}"><span class="glyphicon glyphicon-user"></span> </a></li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right" th:if="${session.token} == null">
                <li data-toggle="modal" data-target="#myModal" onclick="generatingVerificationCode()"><a
                        href="javascript:void(0)"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                <li data-toggle="modal" data-target="#myModal_login" onclick="generatingVerificationCode_login()"><a
                        href="javascript:void(0)"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
            </ul>
        </div>
        <!--<input style="display: none;" id="token" th:value="${token}" >-->
    </div>
</nav>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    注册
                </h4>
            </div>
            <div class="modal-body">
                <form class="cmxform" id="signupForm">
                    <div class="form-group">
                        <label for="username">用户名</label>
                        <input id="username" name="username" class="form-control" type="text" autofocus
                               placeholder="数字、字母组合(长度6~30)" minlength="6" maxlength="30" required>
                    </div>
                    <div class="form-group">
                        <label for="password">密码</label>
                        <input id="password" name="password" class="form-control" type="password"
                               placeholder="数字、字母组合(长度8)" maxlength="8" minlength="8" required>
                    </div>
                    <div class="form-group">
                        <label for="confirm_password">验证密码</label>
                        <input id="confirm_password" name="confirm_password" class="form-control" type="password"
                               placeholder="请再次输入密码" maxlength="8" minlength="8" equalTo="#password" required>
                    </div>
                    <div class="form-group">
                        <label for="verificationCode">验证码</label>
                        <input type="text" class="form-control" placeholder="请输入验证码(区分大小写)" id="verificationCode"
                               maxlength="4" minlength="4" required>
                    </div>
                    <div class="form-group">
                        <img src="" id="generatingCode" onclick="generatingVerificationCode()"
                             style="margin-left: 100px; border: 1px solid;width: 20%;">
                        <a onclick="generatingVerificationCode()"
                           style="cursor: pointer;text-decoration: none;">看不清楚</a>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="submit">
                    提交
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<input type="button" style="display: none;" data-toggle="modal" data-target="#myModal_MSG" id="ok_btn">
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal_MSG" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel_MSG">
                    提示
                </h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-primary" id="OK">
                    确定
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal_login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_login"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel_login">
                    登录
                </h4>
            </div>
            <div class="modal-body">
                <form class="cmxform" id="loginForm">
                    <div class="form-group">
                        <label for="loginusername">用户名</label>
                        <input id="loginusername" name="loginusername" class="form-control" type="text" autofocus
                               placeholder="数字、字母组合(长度6~30)" minlength="6" maxlength="30" required>
                    </div>
                    <div class="form-group">
                        <label for="loginpassword">密码</label>
                        <input id="loginpassword" name="loginpassword" class="form-control" type="password"
                               placeholder="数字、字母组合(长度8)" maxlength="8" minlength="8" required>
                    </div>
                    <div class="form-group">
                        <label for="verificationCode_login">验证码</label>
                        <input type="text" class="form-control" placeholder="请输入验证码(区分大小写)" id="verificationCode_login"
                               maxlength="4" minlength="4" required>
                    </div>
                    <div class="form-group">
                        <img src="" id="generatingCode_login" onclick="generatingVerificationCode_login()"
                             style="margin-left: 100px; border: 1px solid;width: 20%;">
                        <a onclick="generatingVerificationCode_login()" style="cursor: pointer;text-decoration: none;">看不清楚</a>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    取消
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="login" tabIndex="-1">
                    登录
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<input type="button" style="display: none;" data-toggle="modal" data-target="#myModal_UpdatePwd" id="up_btn">
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal_UpdatePwd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_UpdatePwd"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel_UpdatePwd">
                    修改密码
                </h4>
            </div>
            <div class="modal-body">
                <form class="cmxform" id="updatePwdForm">
                    <div class="form-group">
                        <label for="src_password">原密码</label>
                        <input id="src_password" name="src_password" class="form-control" type="text" autofocus
                               placeholder="数字、字母组合(长度8)" maxlength="8" minlength="8" required>
                    </div>
                    <div class="form-group">
                        <label for="new_password">新密码</label>
                        <input id="new_password" name="new_password" class="form-control" type="password"
                               placeholder="数字、字母组合(长度8)" maxlength="8" minlength="8" required>
                    </div>
                    <div class="form-group">
                        <label for="new_password2">确认密码</label>
                        <input id="new_password2" name="new_password2" class="form-control" type="password"
                               placeholder="数字、字母组合(长度8)" maxlength="8" minlength="8" required>
                    </div>
                    <div class="form-group">
                        <label for="verificationCode_login">验证码</label>
                        <input type="text" class="form-control" placeholder="请输入验证码(区分大小写)" id="verificationCode_UpdatePwd"
                               maxlength="4" minlength="4" required>
                    </div>
                    <div class="form-group">
                        <img src="" id="generatingCode_UpdatePwd" onclick="generatingVerificationCode_UpdatePWD()"
                             style="margin-left: 100px; border: 1px solid;width: 20%;">
                        <a onclick="generatingVerificationCode_UpdatePWD()" style="cursor: pointer;text-decoration: none;">看不清楚</a>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    取消
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="updatePwd">
                    修改
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>