<div class="panel panel-info" style="margin: 0px;">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion"
               href="#collapseThree0">
                首页管理
            </a>
        </h4>
    </div>
    <div id="collapseThree0" class="panel-collapse collapse">
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <li class="menu_li"><a page="/manageContent_Right">轮播图</a></li>
                <li class="menu_li"><a page="/manageContent_Right2">我们是做什么的</a></li>
                <li class="menu_li"><a >我们的产品</a></li>
                <li><a >我们的行业案例</a></li>
                <li><a >我们的合作用户</a></li>
                <li><a >关于我们</a></li>
                <li><a >庚顿动态</a></li>
                <li><a >庚顿分享</a></li>
            </ul>
        </div>
    </div>
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion"
               href="#collapseThree1">
                软件产品管理
            </a>
        </h4>
    </div>
    <div id="collapseThree1" class="panel-collapse collapse">
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <li><a >数据库软件</a></li>
                <li><a >可视化软件</a></li>
                <li><a >数据融合软件</a></li>
            </ul>
        </div>
    </div>
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion"
               href="#collapseThree2">
                客户案例
            </a>
        </h4>
    </div>
    <div id="collapseThree2" class="panel-collapse collapse">
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <li><a >能效管控一体化平台</a></li>
                <li><a >金风科技全球监控中心</a></li>
                <li><a >国能生物生产运行监控系统</a></li>
                <li><a >公共机构能耗监管中心</a></li>
                <li><a >国华能源生产管理信息系统</a></li>
            </ul>
        </div>
    </div>
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion"
               href="#collapseThree3">
                行业领域
            </a>
        </h4>
    </div>
    <div id="collapseThree3" class="panel-collapse collapse">
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <li><a >风电集控</a></li>
                <li><a >轨道交通</a></li>
                <li><a >智慧城市</a></li>
                <li><a >智能楼宇</a></li>
                <li><a >火力发电</a></li>
                <li><a >安全生产</a></li>
                <li><a >智能电网</a></li>
                <li><a >节能环保</a></li>
                <li><a >智慧消防</a></li>
                <li><a >集团生产</a></li>
            </ul>
        </div>
    </div>
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion"
               href="#collapseThree4">
                关于庚顿
            </a>
        </h4>
    </div>
    <div id="collapseThree4" class="panel-collapse collapse">
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <li><a >成立宣言</a></li>
                <li><a >公司简介</a></li>
                <li><a >资质荣誉</a></li>
                <li><a >企业文化</a></li>
                <li><a >庚顿动态</a></li>
                <li><a >庚顿分享</a></li>
                <li><a >联系我们</a></li>
            </ul>
        </div>
    </div>
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion"
               href="#collapseThree5">
                产品管理
            </a>
        </h4>
    </div>
    <div id="collapseThree5" class="panel-collapse collapse">
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <li><a >庚星时序数据库管理系统V3.0</a></li>
            </ul>
        </div>
    </div>
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion"
               href="#collapseThree6">
                资料管理
            </a>
        </h4>
    </div>
    <div id="collapseThree6" class="panel-collapse collapse">
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <li><a >庚顿公司宣传册</a></li>
                <li><a >庚顿实时数据库管理系统V3.0技术白皮书</a></li>
            </ul>
        </div>
    </div>
</div>