<div class="panel panel-info" style="margin: 0px;">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion"
               href="#collapseThree0">
                首页管理
            </a>
        </h4>
    </div>
    <div id="collapseThree0" class="panel-collapse collapse">
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <li class="menu_li"><a page="/lunbotu?page=0">轮播图</a></li>
                <li class="menu_li"><a page="/dowhat">我们是做什么的</a></li>
                <li class="menu_li"><a page="/homeProduct">我们的产品</a></li>
                <li class="menu_li"><a page="/industryCase">我们的行业案例</a></li>
                <li class="menu_li"><a page="/cooperativeUser">我们的合作用户</a></li>
                <li class="menu_li"><a page="/aboutUS">关于我们</a></li>
            </ul>
        </div>
    </div>
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion"
               href="#collapseThree1">
                庚顿信息模块管理
            </a>
        </h4>
    </div>
    <div id="collapseThree1" class="panel-collapse collapse">
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <li class="menu_li"><a page="/goldenInfo">庚顿信息模块管理</a></li>
            </ul>
        </div>
    </div>
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion"
               href="#collapseThree5">
                产品管理
            </a>
        </h4>
    </div>
    <div id="collapseThree5" class="panel-collapse collapse">
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <li class="menu_li"><a page="/productmanage">产品管理</a></li>
            </ul>
        </div>
    </div>
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion"
               href="#collapseThree2">
                资料管理
            </a>
        </h4>
    </div>
    <div id="collapseThree2" class="panel-collapse collapse">
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <li class="menu_li"><a page="/filemanage">文件管理</a></li>
            </ul>
        </div>
    </div>
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion"
               href="#collapseThree3">
                字典管理
            </a>
        </h4>
    </div>
    <div id="collapseThree3" class="panel-collapse collapse">
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <li class="menu_li"><a page="/enum">字典管理</a></li>
            </ul>
        </div>
    </div>
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion"
               href="#collapseThree4">
                用户管理
            </a>
        </h4>
    </div>
    <div id="collapseThree4" class="panel-collapse collapse">
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <li class="menu_li"><a page="/userManage">用户管理</a></li>
            </ul>
        </div>
    </div>
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion"
               href="#collapseThree6">
                订单管理
            </a>
        </h4>
    </div>
    <div id="collapseThree6" class="panel-collapse collapse">
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <li class="menu_li"><a page="/orderManage">订单管理</a></li>
            </ul>
        </div>
    </div>

</div>