<div class="whatDoWeDo">
<div class="panel panel-default">
    <div class="panel-body" style="float: left;">
        我们是<span>做什么的</span>
    </div>
    <div class="panel-body" style="float: left;border-left: 1px #05abff solid;margin-top: 14px;height: 50px;">
    </div>
    <div class="panel-body" style="float: left;font-size: 16px;">
        专注于自主知识产权的实时数据库管理系统研发及产业化<br>
        专业提供数据可视化平台产品及解决方案
    </div>
    <div style="clear: both;"></div>
</div>
<div class="panel panel-default" style="border: none; font-size: 22px;text-align: center;">
    <div class="panel-body" style="float: left; width: 25%;height: 400px;border: 1px solid #05abff;">
        <div style="text-align:center;"><img src="http://www.golden-data.com.cn/front/images/index_do1.png" style="padding-top: 30px;"/></div>
        <div style="margin-top: 30px;">
            <span>通用组态</span><br>
            <span>......</span>
        </div>
    </div>
    <div class="panel-body" style="float: left; width: 25%;height: 400px;margin: 0px 12.5% 0px 12.5%;border: 1px solid #05abff;">
        <div style="text-align:center;"><img src="http://www.golden-data.com.cn/front/images/index_do2.png" style="padding-top: 30px;"/></div>
        <div style="margin-top: 30px;">
            <span>实时数据库</span><br>
            <span>......</span>
        </div>
    </div>
    <div class="panel-body" style="float: right; width: 25%;height: 400px;border: 1px solid #05abff;">
        <div style="text-align:center;"><img src="http://www.golden-data.com.cn/front/images/index_do3.png" style="padding-top: 30px;"/></div>
        <div style="margin-top: 30px;">
            <span>工业可视化</span><br>
            <span>......</span>
        </div>
    </div>
    <div style="clear: both;"></div>
</div>
</div>
<div class="whatDoWeDo">
    <div class="panel panel-default">
        <div class="panel-body" style="float: left;">
            我们的<span>产品</span>
        </div>
        <div class="panel-body" style="float: left;border-left: 1px #05abff solid;margin-top: 14px;height: 50px;">
        </div>
        <div class="panel-body" style="float: left;font-size: 16px;">
            数据库系列<br>
            可视化系列
        </div>
        <div style="clear: both;"></div>
    </div>
    <div class="panel panel-default" style="border: none; font-size: 22px;text-align: center;height: 400px;">
        <div class="panel-body" style="float: left; width: 100%;height: 100%;border: 1px solid #05abff;">
            <div style="float: left;width: 50%;height: 100%;"><img src="http://www.golden-data.com.cn/upload/image/load/c8c0d16383304f06baabb133f830e1ad.png" style="width: 100%;height: 100%;"/></div>
            <div style="float: left;width: 50%;height: 100%;font-size: 24px;padding: 15px;">
                <span style="color: #666;text-align: left;display: block;padding: 10px;border-bottom: 1px dashed #00000030;">庚顿实时数据库管理系统</span>
                <span style="color: #666;text-align: left;display: block;line-height: 36px;padding-top: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;实时数据库管理系统是工业领域信息化的核心基础软件，在两化融合中发挥重要作用，更是大数据、云计算、物联网等产业的核心支撑软件。庚顿十余年来，专注于“实时数据库管理系统”的研发及产业化。该产品已广泛应用于生产管理、先进控制、节能环保、石油化工、智慧能源、智能制造、车联网、智能电网等行业或领域。</span>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
    <div class="panel panel-default" style="border: none; font-size: 22px;text-align: center; margin: 30px 0px;height: 400px;">
        <div class="panel-body" style="float: left; width: 100%;height: 100%;border: 1px solid #05abff;">

            <div style="float: left;width: 50%;height: 100%;font-size: 24px;padding: 15px;">
                <span style="color: #666;text-align: left;display: block;padding: 10px;border-bottom: 1px dashed #00000030;">庚顿智慧工业可视化平台</span>
                <span style="color: #666;text-align: left;display: block;line-height: 36px;padding-top: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;作为工业4.0的核心支撑平台，庚顿工业监控可视化平台面向智慧工业过程提供了集数据采集、存储、计算、分析及高级可视化于一体的产品级解决方案，用户可利用平台提供的监控组态软件、趋势分析系统、报警与事件系统等产品构建支撑智慧工业过程的高级应用。</span>
            </div>
            <div style="float: left;width: 50%;height: 100%;"><img src="http://www.golden-data.com.cn/upload/image/load/9c64152c74854c34b3a39398915a1e7c.png" style="width: 100%;height: 100%;"/></div>
            <div style="clear: both;"></div>
        </div>
    </div>
</div>
<div class="whatDoWeDo">
    <div class="panel panel-default">
        <div class="panel-body" style="float: left;">
            我们的<span>行业案例</span>
        </div>
        <div class="panel-body" style="float: left;border-left: 1px #05abff solid;margin-top: 14px;height: 50px;">
        </div>
        <div class="panel-body" style="float: left;font-size: 16px;">
            风力发电 生产管理<br>
            智能电网 智能制造
        </div>
        <div style="clear: both;"></div>
    </div>
    <div class="panel panel-default" style="border: none; font-size: 22px;text-align: center;height: 680px;">
        <div class="panel-body" style="float: left; width: 100%;height: 100%;font-size: 22px;padding: 0px;">
            <ul style="list-style-type: none;padding: 0px;margin: 0px;width: 100%;height: 100%;position: relative;">
                <li style="width: 32%;height: 65%;list-style-type: none;float: left;position: absolute;">
                    <div style="position: relative;width: 100%;height: 100%;">
                        <div class="img-1" style="position: absolute;z-index: 9;width: 100%;height: 100%;" onmouseover="hoverDiy(this.className)">
                            <img src="http://52.83.234.27:80/gd/upload/image/load/125f72efae58484d8de3561a234baf23.jpg" alt="" style="width: 100%;height: 100%;">
                        </div>
                        <div class="link" style="cursor: pointer;z-index: 10;width: 100%;height: 100%; position: absolute;background-color: #2b384b;opacity: 0.75;color: #fff;padding-top: 45%;" >
                            金风科技
                        </div>
                    </div>
                </li>
                <li style="width: 15%;height: 30%;list-style-type: none;float: left;margin: 0px 0px 0px 2%;position: absolute;left: 32%;">
                    <div style="position: relative;width: 100%;height: 100%;">
                        <div class="img-2" style="position: absolute;z-index: 9;width: 100%;height: 100%;" onmouseover="hoverDiy(this.className)">
                            <img src="http://52.83.234.27:80/gd/upload/image/load/cdb7b430e5ba4231b21515b1450a401c.png" alt="" style="width: 100%;height: 100%;">
                        </div>
                        <div class="link" style="cursor: pointer;z-index: 10; width: 100%;height: 100%; position: absolute;background-color: #2b384b;opacity: 0.75;color: #fff;padding-top: 45%;" >
                            国能生物集团
                        </div>
                    </div>
                </li>
                <li style="width: 15%;height: 30%;list-style-type: none;float: left;margin: 0px 0px 0px 2%;position: absolute;left: 49%;">
                    <div style="position: relative;width: 100%;height: 100%;">
                        <div class="img-3" style="position: absolute;z-index: 9;width: 100%;height: 100%;" onmouseover="hoverDiy(this.className)">
                            <img src="http://52.83.234.27:80/gd/upload/image/load/cdb7b430e5ba4231b21515b1450a401c.png" alt="" style="width: 100%;height: 100%;">
                        </div>
                        <div class="link" style="cursor: pointer;z-index: 10; width: 100%;height: 100%; position: absolute;background-color: #2b384b;opacity: 0.75;color: #fff;padding-top: 45%;" >
                            国能生物集团
                        </div>
                    </div>
                </li>
                <li style="width: 15%;height: 30%;list-style-type: none;float: left;margin: 0px 0px 0px 2%;position: absolute;left: 66%;">
                    <div style="position: relative;width: 100%;height: 100%;">
                        <div class="img-4" style="position: absolute;z-index: 9;width: 100%;height: 100%;" onmouseover="hoverDiy(this.className)">
                            <img src="http://52.83.234.27:80/gd/upload/image/load/cdb7b430e5ba4231b21515b1450a401c.png" alt="" style="width: 100%;height: 100%;">
                        </div>
                        <div class="link" style="cursor: pointer;z-index: 10; width: 100%;height: 100%; position: absolute;background-color: #2b384b;opacity: 0.75;color: #fff;padding-top: 45%;" >
                            国能生物集团
                        </div>
                    </div>
                </li>
                <li style="width: 15%;height: 30%;list-style-type: none;float: left;margin: 0px 0px 0px 2%;position: absolute;left: 83%;">
                    <div style="position: relative;width: 100%;height: 100%;">
                        <div class="img-5" style="position: absolute;z-index: 9;width: 100%;height: 100%;" onmouseover="hoverDiy(this.className)">
                            <img src="http://52.83.234.27:80/gd/upload/image/load/cdb7b430e5ba4231b21515b1450a401c.png" alt="" style="width: 100%;height: 100%;">
                        </div>
                        <div class="link" style="cursor: pointer;z-index: 10;width: 100%;height: 100%; position: absolute;background-color: #2b384b;opacity: 0.75;color: #fff;padding-top: 45%;" >
                            国能生物集团
                        </div>
                    </div>
                </li>
                <li style="width: 15%;height: 30%;list-style-type: none;float: left;margin: 0px 0px 0px 2%;position: absolute;left: 32%;top:35%;">
                    <div style="position: relative;width: 100%;height: 100%;">
                        <div class="img-6" style="position: absolute;z-index: 9;width: 100%;height: 100%;" onmouseover="hoverDiy(this.className)">
                            <img src="http://52.83.234.27:80/gd/upload/image/load/cdb7b430e5ba4231b21515b1450a401c.png" alt="" style="width: 100%;height: 100%;">
                        </div>
                        <div class="link" style="cursor: pointer;z-index: 10; width: 100%;height: 100%; position: absolute;background-color: #2b384b;opacity: 0.75;color: #fff;padding-top: 45%;" >
                            国能生物集团
                        </div>
                    </div>
                </li>
                <li style="width: 15%;height: 30%;list-style-type: none;float: left;margin: 0px 0px 0px 2%;position: absolute;left: 49%;top:35%;">
                    <div style="position: relative;width: 100%;height: 100%;">
                        <div class="img-7" style="position: absolute;z-index: 9;width: 100%;height: 100%;" onmouseover="hoverDiy(this.className)">
                            <img src="http://52.83.234.27:80/gd/upload/image/load/cdb7b430e5ba4231b21515b1450a401c.png" alt="" style="width: 100%;height: 100%;">
                        </div>
                        <div class="link" style="cursor: pointer;z-index: 10; width: 100%;height: 100%; position: absolute;background-color: #2b384b;opacity: 0.75;color: #fff;padding-top: 45%;" >
                            国能生物集团
                        </div>
                    </div>
                </li>
                <li style="width: 15%;height: 30%;list-style-type: none;float: left;margin: 2% 0px 0px 0px;position: absolute;top:65%;">
                    <div style="position: relative;width: 100%;height: 100%;">
                        <div class="img-8" style="position: absolute;z-index: 9;width: 100%;height: 100%;" onmouseover="hoverDiy(this.className)">
                            <img src="http://52.83.234.27:80/gd/upload/image/load/cdb7b430e5ba4231b21515b1450a401c.png" alt="" style="width: 100%;height: 100%;">
                        </div>
                        <div class="link" style="cursor: pointer;z-index: 10; width: 100%;height: 100%; position: absolute;background-color: #2b384b;opacity: 0.75;color: #fff;padding-top: 45%;" >
                            国能生物集团
                        </div>
                    </div>
                </li>
                <li style="width: 15%;height: 30%;list-style-type: none;float: left;margin: 2% 0px 0px 2%;position: absolute;left: 15%;top:65%;">
                    <div style="position: relative;width: 100%;height: 100%;">
                        <div class="img-9" style="position: absolute;z-index: 9;width: 100%;height: 100%;" onmouseover="hoverDiy(this.className)">
                            <img src="http://52.83.234.27:80/gd/upload/image/load/cdb7b430e5ba4231b21515b1450a401c.png" alt="" style="width: 100%;height: 100%;">
                        </div>
                        <div class="link" style="cursor: pointer;z-index: 10; width: 100%;height: 100%; position: absolute;background-color: #2b384b;opacity: 0.75;color: #fff;padding-top: 45%;" >
                            国能生物集团
                        </div>
                    </div>
                </li>
                <li style="width: 15%;height: 30%;list-style-type: none;float: left;margin: 2% 0px 0px 2%;position: absolute;left: 32%;top:65%;">
                    <div style="position: relative;width: 100%;height: 100%;">
                        <div class="img-10" style="position: absolute;z-index: 9;width: 100%;height: 100%;" onmouseover="hoverDiy(this.className)">
                            <img src="http://52.83.234.27:80/gd/upload/image/load/cdb7b430e5ba4231b21515b1450a401c.png" alt="" style="width: 100%;height: 100%;">
                        </div>
                        <div class="link" style="cursor: pointer;z-index: 10; width: 100%;height: 100%; position: absolute;background-color: #2b384b;opacity: 0.75;color: #fff;padding-top: 45%;" >
                            国能生物集团
                        </div>
                    </div>
                </li>
                <li style="width: 15%;height: 30%;list-style-type: none;float: left;margin: 2% 0px 0px 2%;position: absolute;left: 49%;top:65%;">
                    <div style="position: relative;width: 100%;height: 100%;">
                        <div class="img-11" style="position: absolute;z-index: 9;width: 100%;height: 100%;" onmouseover="hoverDiy(this.className)">
                            <img src="http://52.83.234.27:80/gd/upload/image/load/cdb7b430e5ba4231b21515b1450a401c.png" alt="" style="width: 100%;height: 100%;">
                        </div>
                        <div class="link" style="cursor: pointer;z-index: 10; width: 100%;height: 100%; position: absolute;background-color: #2b384b;opacity: 0.75;color: #fff;padding-top: 45%;" >
                            国能生物集团
                        </div>
                    </div>
                </li>
                <li style="width: 32%;height: 65%;list-style-type: none;float: left;margin: 0px 0px 0px 2%;position: absolute;left: 66%;top:35%;">
                    <div style="position: relative;width: 100%;height: 100%;">
                        <div class="img-12" style="position: absolute;z-index: 9;width: 100%;height: 100%;" onmouseover="hoverDiy(this.className)">
                            <img src="http://52.83.234.27:80/gd/upload/image/load/125f72efae58484d8de3561a234baf23.jpg" alt="" style="width: 100%;height: 100%;">
                        </div>
                        <div class="link" style="cursor: pointer;z-index: 10;width: 100%;height: 100%; position: absolute;background-color: #2b384b;opacity: 0.75;color: #fff;padding-top: 45%;" >
                            金风科技
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="whatDoWeDo" style="height: 406px;">
    <div class="panel panel-default">
        <div class="panel-body" style="float: left;">
            我们的<span>合作用户</span>
        </div>
        <div class="panel-body" style="float: left;border-left: 1px #05abff solid;margin-top: 14px;height: 50px;">
        </div>
        <div class="panel-body" style="float: left;font-size: 16px;">
            智能制造 新能源 电网 电信<br>
            石油 煤炭 智慧城市 火力发电
        </div>
        <div style="clear: both;"></div>
    </div>
    <div class="panel panel-default" style="border: none; font-size: 22px;text-align: center;">
        <div class="panel-body" style="float: left; width: 100%;height: 300px;padding: 0px;">
            <div id="myCarousel_1" class="carousel slide" >
                <!-- 轮播（Carousel）项目 -->

                <div class="carousel-inner">
                    <div class="item active">
                        <ul style="list-style: none;width: 100%;height: 100%;text-decoration: none;margin: 0px;padding: 0px;">
                            <li class="min_carousel"><img src="http://52.83.234.27:80/gd/upload/image/load/8f03a33631ec48c5a928443c50a52e4c.jpg"></li>
                            <li class="min_carousel"><img src="http://52.83.234.27:80/gd/upload/image/load/8f03a33631ec48c5a928443c50a52e4c.jpg"></li>
                            <li class="min_carousel"><img src="http://52.83.234.27:80/gd/upload/image/load/8f03a33631ec48c5a928443c50a52e4c.jpg"></li>
                            <li class="min_carousel"><img src="http://52.83.234.27:80/gd/upload/image/load/8f03a33631ec48c5a928443c50a52e4c.jpg"></li>
                            <li class="min_carousel"><img src="http://52.83.234.27:80/gd/upload/image/load/8f03a33631ec48c5a928443c50a52e4c.jpg"></li>
                            <li class="min_carousel"><img src="http://52.83.234.27:80/gd/upload/image/load/8f03a33631ec48c5a928443c50a52e4c.jpg"></li>
                            <li class="min_carousel"><img src="http://52.83.234.27:80/gd/upload/image/load/8f03a33631ec48c5a928443c50a52e4c.jpg"></li>
                            <li class="min_carousel"><img src="http://52.83.234.27:80/gd/upload/image/load/8f03a33631ec48c5a928443c50a52e4c.jpg"></li>
                            <li class="min_carousel"><img src="http://52.83.234.27:80/gd/upload/image/load/8f03a33631ec48c5a928443c50a52e4c.jpg"></li>
                            <li class="min_carousel"><img src="http://52.83.234.27:80/gd/upload/image/load/8f03a33631ec48c5a928443c50a52e4c.jpg"></li>
                            <li class="min_carousel"><img src="http://52.83.234.27:80/gd/upload/image/load/8f03a33631ec48c5a928443c50a52e4c.jpg"></li>
                            <li class="min_carousel"><img src="http://52.83.234.27:80/gd/upload/image/load/8f03a33631ec48c5a928443c50a52e4c.jpg"></li>
                        </ul>
                    </div>
                    <div class="item">
                        <ul style="list-style: none;width: 100%;height: 100%;text-decoration: none;margin: 0px;padding: 0px;">
                            <li class="min_carousel"><img src="http://52.83.234.27:80/gd/upload/image/load/8f03a33631ec48c5a928443c50a52e4c.jpg"></li>
                            <li class="min_carousel"><img src="http://52.83.234.27:80/gd/upload/image/load/8f03a33631ec48c5a928443c50a52e4c.jpg"></li>
                            <li class="min_carousel"><img src="http://52.83.234.27:80/gd/upload/image/load/8f03a33631ec48c5a928443c50a52e4c.jpg"></li>
                            <li class="min_carousel"><img src="http://52.83.234.27:80/gd/upload/image/load/8f03a33631ec48c5a928443c50a52e4c.jpg"></li>
                            <li class="min_carousel"><img src="http://52.83.234.27:80/gd/upload/image/load/8f03a33631ec48c5a928443c50a52e4c.jpg"></li>
                            <li class="min_carousel"><img src="http://52.83.234.27:80/gd/upload/image/load/8f03a33631ec48c5a928443c50a52e4c.jpg"></li>
                            <li class="min_carousel"><img src="http://52.83.234.27:80/gd/upload/image/load/8f03a33631ec48c5a928443c50a52e4c.jpg"></li>
                            <li class="min_carousel"><img src="http://52.83.234.27:80/gd/upload/image/load/8f03a33631ec48c5a928443c50a52e4c.jpg"></li>
                            <li class="min_carousel"><img src="http://52.83.234.27:80/gd/upload/image/load/8f03a33631ec48c5a928443c50a52e4c.jpg"></li>
                            <li class="min_carousel"><img src="http://52.83.234.27:80/gd/upload/image/load/8f03a33631ec48c5a928443c50a52e4c.jpg"></li>
                            <li class="min_carousel"><img src="http://52.83.234.27:80/gd/upload/image/load/8f03a33631ec48c5a928443c50a52e4c.jpg"></li>
                            <li class="min_carousel"><img src="http://52.83.234.27:80/gd/upload/image/load/8f03a33631ec48c5a928443c50a52e4c.jpg"></li>
                        </ul>
                    </div>
                    <div class="item">
                        <ul style="list-style: none;width: 100%;height: 100%;text-decoration: none;margin: 0px;padding: 0px;">
                            <li class="min_carousel"><img src="http://52.83.234.27:80/gd/upload/image/load/8f03a33631ec48c5a928443c50a52e4c.jpg"></li>
                            <li class="min_carousel"><img src="http://52.83.234.27:80/gd/upload/image/load/8f03a33631ec48c5a928443c50a52e4c.jpg"></li>
                            <li class="min_carousel"><img src="http://52.83.234.27:80/gd/upload/image/load/8f03a33631ec48c5a928443c50a52e4c.jpg"></li>
                            <li class="min_carousel"><img src="http://52.83.234.27:80/gd/upload/image/load/8f03a33631ec48c5a928443c50a52e4c.jpg"></li>
                            <li class="min_carousel"><img src="http://52.83.234.27:80/gd/upload/image/load/8f03a33631ec48c5a928443c50a52e4c.jpg"></li>
                            <li class="min_carousel"><img src="http://52.83.234.27:80/gd/upload/image/load/8f03a33631ec48c5a928443c50a52e4c.jpg"></li>
                            <li class="min_carousel"><img src="http://52.83.234.27:80/gd/upload/image/load/8f03a33631ec48c5a928443c50a52e4c.jpg"></li>
                            <li class="min_carousel"><img src="http://52.83.234.27:80/gd/upload/image/load/8f03a33631ec48c5a928443c50a52e4c.jpg"></li>
                            <li class="min_carousel"><img src="http://52.83.234.27:80/gd/upload/image/load/8f03a33631ec48c5a928443c50a52e4c.jpg"></li>
                            <li class="min_carousel"><img src="http://52.83.234.27:80/gd/upload/image/load/8f03a33631ec48c5a928443c50a52e4c.jpg"></li>
                            <li class="min_carousel"><img src="http://52.83.234.27:80/gd/upload/image/load/8f03a33631ec48c5a928443c50a52e4c.jpg"></li>
                            <li class="min_carousel"><img src="http://52.83.234.27:80/gd/upload/image/load/8f03a33631ec48c5a928443c50a52e4c.jpg"></li>
                        </ul>
                    </div>
                </div>
                <!-- 轮播（Carousel）导航 -->
                <a class="left carousel-control" href="#myCarousel_1" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel_1" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

    </div>
</div>
<div class="whatDoWeDo" style="height: 504px;">
    <div class="panel panel-default" style="border: none; font-size: 22px;text-align: center;height: 100%;">
        <div class="panel-body" style="float: left; width: 100%;height: 100%;padding: 0px;">
            <div style="float: left;width: 45%;height: 100%;"><img src="http://www.golden-data.com.cn/front/images_new/about/about1.png" style="width: 100%;height: 100%;"/></div>
            <div style="float: left;width: 50%;height: 100%;font-size: 24px;padding: 15px;margin-left: 5%;">
                <span style="color: #666;text-align: left;display: block;padding: 10px;border-bottom: 1px dashed #00000030;">关于我们</span>
                <span style="color: #666;text-align: left;display: block;line-height: 22px;font-size:18px;padding-top: 20px;font-size: 14px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;北京庚顿数据科技有限公司专业从事自主知识产权的"实时数据库管理系统"研发及产业化，作为一种基础软件，实时数据库管理系统在工业化和信息化融合过程中起着重要的支撑作用，是新一代信息技术产业中的关键。该领域关系国家安全、产业关联广泛，存在巨大的创新空间。</span>
                <span style="color: #666;text-align: left;display: block;line-height: 22px;font-size:18px;padding-top: 20px;font-size: 14px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们深知这项事业的艰巨性、复杂性和长期性。我们更清楚地认识到，没有基础软件的突破，我国就无法跻身世界信息技术产业强国之列。有鉴于此，我们立志“啃得了骨头、耐得住寂寞、顶得住诱惑”，决心长期专注实时数据库领域，打造优秀人才队伍、提升创新能力、突破核心技术、掌握自主知识产权、研发创新产品系列、形成高附加值的产业链条。</span>
                <span style="color: #666;text-align: left;display: block;line-height: 22px;font-size:18px;padding-top: 20px;font-size: 14px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们有一个梦想：让中国的实时数据库软件领先全球，让中国的基础软件领先全球!我们坚信：就像中华民族的伟大复兴一定能实现一样，我们的梦想一定能实现!</span>
                <span style="color: #666;display: block;line-height: 22px;font-size:18px;padding-top: 20px;" class="about_us">
                    <ul>
                        <li><a href="javascript:void(0)">简介</a></li>
                        <li><a href="javascript:void(0)">荣誉</a></li>
                        <li><a href="javascript:void(0)">文化</a></li>
                        <li><a href="javascript:void(0)">历程</a></li>
                    </ul>
                    <div class="clear"></div>
                </span>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
</div>
<div class="whatDoWeDo" style="height: 330px;">
    <div class="panel panel-default" style="border: none; font-size: 22px;text-align: center;">
        <div class="panel-body" style="float: left; width: 100%;height: 100%;padding: 0px;">
            <div style="float: left;width: calc(45% - 2px);height: 100%;">
                <div class="page-header">
                    <h2>庚顿动态</h2>
                </div>
                <div class="list-group" style="text-align: left;">
                    <a href="#" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            -    2018年01月 庚顿公司成立全资子公司“庚顿河北信息科技有限公司”。
                            <span class="badge" style="color: red;background-color: white;font-size: 14px;">新</span>
                        </h5>
                    </a>
                    <a href="#" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            -    2017年12月 庚顿实时数据库进入化工行业。
                        </h5>
                    </a>
                    <a href="#" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            -    2017年10月 与百度达成合作，面向物联网领域推出时序数据库，普惠中小企业。
                        </h5>
                    </a>
                    <a href="#" class="list-group-item">
                        <h5 class="list-group-item-heading" style="text-align: center;">
                            更多动态
                        </h5>
                    </a>
                </div>
            </div>
            <div style="float: left;width: calc(45% - 2px);height: 100%;font-size: 22px;padding: 0px;margin-left: 10%;">
                <div class="page-header">
                    <h2>庚顿分享</h2>
                </div>
                <div class="list-group" style="text-align: left;">
                    <a href="#" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            -    什么是实时数据库？
                            <span class="badge" style="color: red;background-color: white;font-size: 14px;">新</span>
                        </h5>
                    </a>
                    <a href="#" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            -    实时数据库有哪些应用领域？
                        </h5>
                    </a>
                    <a href="#" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            -    实时数据库与关系数据库的区别？
                        </h5>
                    </a>
                    <a href="#" class="list-group-item">
                        <h5 class="list-group-item-heading" style="text-align: center;">
                            更多分享
                        </h5>
                    </a>
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
</div>
