<div class="panel panel-default" style="width: 80%; margin-left: 10%;">
    <div class="panel-heading">
        <h3 class="panel-title">
            个人信息
        </h3>
    </div>
    <div class="panel-body">
        <form class="bs-example bs-example-form" role="form">
            <div class="input-group input-group-lg">
                <span class="input-group-addon">登录用户名</span>
                <input type="text" class="form-control" placeholder="登录用户名" disabled>
            </div><br>
            <div class="input-group input-group-lg">
                <span class="input-group-addon">姓名</span>
                <input type="text" class="form-control" placeholder="姓名">
            </div><br>
            <div class="input-group input-group-lg">
                <span class="input-group-addon">身份</span>
                <input type="text" class="form-control" placeholder="身份" disabled>
            </div><br>
            <div class="input-group input-group-lg">
                <span class="input-group-addon">性别</span>
                <input type="text" class="form-control" placeholder="性别">
            </div><br>
            <div class="input-group input-group-lg">
                <span class="input-group-addon">状态</span>
                <input type="text" class="form-control" placeholder="状态" disabled>
            </div><br>
        </form>
    </div>
</div>
<div class="panel panel-default" style="width: 80%; margin-left: 10%;">
    <div class="panel-heading">
        <h3 class="panel-title">
            发票信息
        </h3>
    </div>
    <div class="panel-body">
        <form class="bs-example bs-example-form" role="form">
            <div class="input-group input-group-lg">
                <span class="input-group-addon">开票种类</span>
                <input type="text" class="form-control" placeholder="开票种类">
            </div><br>
            <div class="input-group input-group-lg">
                <span class="input-group-addon">纳税人识别号</span>
                <input type="text" class="form-control" placeholder="纳税人识别号">
            </div><br>
            <div class="input-group input-group-lg">
                <span class="input-group-addon">电话</span>
                <input type="text" class="form-control" placeholder="电话">
            </div><br>
            <div class="input-group input-group-lg">
                <span class="input-group-addon">开户行</span>
                <input type="text" class="form-control" placeholder="开户行">
            </div><br>
            <div class="input-group input-group-lg">
                <span class="input-group-addon">开户行账号</span>
                <input type="text" class="form-control" placeholder="开户行账号">
            </div><br>
        </form>
    </div>
</div>
<div class="modal-footer" style="width: 80%; margin-left: 10%;">
    <button type="button" class="btn btn-default" data-dismiss="modal">
        关闭
    </button>
    <button type="button" class="btn btn-primary" id="save">
        保存
    </button>
</div>