<div class="content">
    <div class="myProduct">
        <div class="list-group">
            <a href="javascript:void(0)" class="list-group-item active">
                <h4 class="list-group-item-heading">
                    数据库软件
                </h4>
            </a>
            <a href="/golden_cloud" class="list-group-item">
                <h4 class="list-group-item-heading">
                    庚云实时数据库管理系统
                </h4>
            </a>
            <a href="/golden_star" class="list-group-item">
                <h4 class="list-group-item-heading">
                    庚星时序数据库管理系统
                </h4>
            </a>
        </div>
        <div class="list-group">
            <a href="javascript:void(0)" class="list-group-item active">
                <h4 class="list-group-item-heading">
                    可视化软件
                </h4>
            </a>
            <a href="/golden_configuration" class="list-group-item">
                <h4 class="list-group-item-heading">
                    庚顿通用监控组态平台
                </h4>
            </a>
            <a href="/golden_visualization" class="list-group-item">
                <h4 class="list-group-item-heading">
                    庚顿可视化产品系列
                </h4>
            </a>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item active">
                <h4 class="list-group-item-heading">
                    数据融合软件
                </h4>
            </a>
            <a href="/golden_collection" class="list-group-item">
                <h4 class="list-group-item-heading">
                    庚顿数据采集适配器
                </h4>
            </a>
            <a href="/golden_export" class="list-group-item">
                <h4 class="list-group-item-heading">
                    庚顿数据输出适配器
                </h4>
            </a>
        </div>

    </div>
    <div class="myProductContent">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" th:text="${title}">
                </h3>
            </div>
            <div class="panel-body" th:utext="${html}">
            </div>

        </div>
    </div>
    <div style="clear: both;"></div>
</div>


