<div class="content">
    <div class="myProduct">
        <div class="list-group">
            <a href="javascript:void(0)" class="list-group-item active">
                <h4 class="list-group-item-heading">
                    数据库软件
                </h4>
            </a>
            <a class="list-group-item" th:each="l_1 : ${list[0]}" th:id="${l_1.id}">
                <h4 class="list-group-item-heading" th:text="${l_1.title}">
                </h4>
            </a>
        </div>
        <div class="list-group">
            <a href="javascript:void(0)" class="list-group-item active">
                <h4 class="list-group-item-heading">
                    可视化软件
                </h4>
            </a>
            <a class="list-group-item" th:each="l_1 : ${list[1]}" th:id="${l_1.id}">
                <h4 class="list-group-item-heading" th:text="${l_1.title}">
                </h4>
            </a>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item active">
                <h4 class="list-group-item-heading">
                    数据融合软件
                </h4>
            </a>
            <a class="list-group-item" th:each="l_1 : ${list[2]}" th:id="${l_1.id}">
                <h4 class="list-group-item-heading" th:text="${l_1.title}">

                </h4>
            </a>
        </div>

    </div>
    <div class="myProductContent">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" id="myProductTitle">
                </h3>
            </div>
            <div class="panel-body" id="myProductContent">
            </div>
        </div>
    </div>
    <div style="clear: both;"></div>
</div>


