<div class="purchaseContent">
    <!-- 左对齐 -->
    <div class="media" th:each="list : ${list}">
        <div class="media-left">
            <img th:src="${list.imgpath}" class="media-object" style="width:60px">
        </div>
        <div class="media-body" >
            <h4 class="media-heading" style="cursor: pointer;" onclick="gotoBuyPage(this.id);" th:id="${list.id}" th:text="${list.title}"></h4>
            <p th:text="${list.content}"></p>
        </div>
    </div>
    <hr>
</div>