<div class="mySolutionDetailsContent">
    <div class="mySolution">
        <div class="list-group">
            <a href="javascript:void(0);" class="list-group-item" th:each="list:${list}" th:id="${list.id}">
                <h4 class="list-group-item-heading" th:text="${list.title}">
                </h4>
            </a>
        </div>

    </div>
    <div class="myProductContent">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" id="myProductTitle">
                </h3>
            </div>
            <div class="panel-body" id="myProductContent">
            </div>

        </div>
    </div>
    <div style="clear: both;"></div>
</div>