<div class="mySolutionDetailsContent">
    <div class="mySolution">
        <div class="list-group">
            <a href="/solutionDetails?hyly=1" class="list-group-item">
                <h4 class="list-group-item-heading">
                    风电集控
                </h4>
            </a>
            <a href="/solutionDetails?hyly=2" class="list-group-item">
                <h4 class="list-group-item-heading">
                    轨道交通
                </h4>
            </a>
            <a href="/solutionDetails?hyly=3" class="list-group-item">
                <h4 class="list-group-item-heading">
                    智慧城市
                </h4>
            </a>
            <a href="/solutionDetails?hyly=4" class="list-group-item">
                <h4 class="list-group-item-heading">
                    智能楼宇
                </h4>
            </a>
            <a href="/solutionDetails?hyly=5" class="list-group-item">
                <h4 class="list-group-item-heading">
                    火力发电
                </h4>
            </a>
            <a href="/solutionDetails?hyly=6" class="list-group-item">
                <h4 class="list-group-item-heading">
                    安全生产
                </h4>
            </a>
            <a href="/solutionDetails?hyly=7" class="list-group-item">
                <h4 class="list-group-item-heading">
                    智能电网
                </h4>
            </a>
            <a href="/solutionDetails?hyly=8" class="list-group-item">
                <h4 class="list-group-item-heading">
                    节能环保
                </h4>
            </a>
            <a href="/solutionDetails?hyly=9" class="list-group-item">
                <h4 class="list-group-item-heading">
                    智慧消防
                </h4>
            </a>
            <a href="/solutionDetails?hyly=10" class="list-group-item">
                <h4 class="list-group-item-heading">
                    集团生产
                </h4>
            </a>
        </div>

    </div>
    <div class="myProductContent">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" th:text="${title}">
                </h3>
            </div>
            <div class="panel-body" th:utext="${html}">
            </div>

        </div>
    </div>
    <div style="clear: both;"></div>
</div>