<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

</body>
</html>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>解决方案</title>
    <link th:href="@{../bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{../bootstrap/css/bootstrap-theme.css}" rel="stylesheet">
    <link th:href="@{../myCSS/index.css}" rel="stylesheet">
</head>
<body id="body">
<div th:include="head"></div>
<div style="width: 100%;">
    <img src="../images/jiejue.jpg" style="width: 100%;">
</div>
<div th:replace="mySolutionContent"></div>
<div th:replace="floot"></div>
<script th:src="@{../jquery/jquery-3.3.1.min.js}" type="text/javascript"></script>
<script th:src="@{../bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{../jquery/jquery.validate.min.js}" type="text/javascript"></script>
<script th:src="@{../jquery/localization/messages_zh.js}" type="text/javascript"></script>
<script th:src="@{../myJS/md5.js}" type="text/javascript"></script>
<script type="text/javascript">
    // var screenHeight = document.documentElement.clientHeight;
    // var screenWidth = document.documentElement.clientWidth;
    // var body = document.getElementById('body');
    // body.style.width = screenWidth + "px";
    // body.style.height = screenHeight + "px";
</script>
<script th:src="@{../myJS/index.js}" type="text/javascript"></script>
</body>
</html>