<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

</body>
</html>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>行业案例详情</title>
    <link th:href="@{../bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{../bootstrap/css/bootstrap-theme.css}" rel="stylesheet">
    <link th:href="@{../myCSS/index.css}" rel="stylesheet">
</head>
<body id="body">
<div th:include="head"></div>
<div style="width: 100%;">
    <img src="../images/jiejue.jpg" style="width: 100%;">
</div>
<div th:replace="solutionDetailsContent"></div>
<div th:replace="floot"></div>
<script th:src="@{../jquery/jquery-3.3.1.min.js}" type="text/javascript"></script>
<script th:src="@{../bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
<script type="text/javascript">
    var screenHeight = document.documentElement.clientHeight;
    var screenWidth = document.documentElement.clientWidth;
    var body = document.getElementById('body');
    body.style.width = screenWidth + "px";
    body.style.height = screenHeight + "px";
</script>
<script th:inline="javascript">
    var list = [[${list}]];
    var id = [[${id}]];
    if(id == null){
        $("#myProductTitle").html(list[0].title);
        $("#myProductContent").html(list[0].content);
    }else{
        var list = [[${list}]];
        var id = $(this).attr("id");
        for(var i = 0;i<list.length;i++){
            if(list[i].id == id){
                $("#myProductTitle").html(list[i].title);
                $("#myProductContent").html(list[i].content);
            }
        }
    }
    $(".list-group-item").on("click",function () {
        var list = [[${list}]];
        var id = $(this).attr("id");
        for(var i = 0;i<list.length;i++){
            if(list[i].id == id){
                $("#myProductTitle").html(list[i].title);
                $("#myProductContent").html(list[i].content);
            }
        }
    })
</script>
</body>
</html>