<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>字典管理</title>
    <link th:href="@{../bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{../bootstrap/css/bootstrap-theme.css}" rel="stylesheet">
    <link th:href="@{../myCSS/manage.css}" rel="stylesheet">
</head>
<body >
<table class="table table-striped">
    <caption><button data-toggle="modal" data-target="#myModal_addEnum" class="btn btn-primary">添加</button></caption>
    <thead>
    <tr>
        <th>字典码</th>
        <th>字典值</th>
        <th>所属类型</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="m : ${list}">
        <td th:text="${m.id}" style="display: none;"></td>
        <td th:text="${m.enumkey}"></td>
        <td th:text="${m.enumvalue}"></td>
        <td th:text="${m.type}"></td>
        <td>
            <button class="btn btn-primary editEnum" data-toggle="modal" data-target="#myModal_editEnum">修改</button>
            <button class="btn btn-primary deleteEnum"  data-placement="auto" data-container="body" data-toggle="popover">删除</button>
        </td>
    </tr>
    </tbody>
</table>
<div th:replace="home/addEnum"></div>
<div th:replace="home/editEnum"></div>
<div th:replace="home/msg"></div>
<script th:src="@{../jquery/jquery-3.3.1.min.js}" type="text/javascript"></script>
<script th:src="@{../bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{../jquery/jquery.validate.min.js}" type="text/javascript"></script>
<script th:src="@{../jquery/localization/messages_zh.js}" type="text/javascript"></script>
<script th:src="@{../myJS/manage.js}" type="text/javascript"></script>
</body>
</html>