<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>关于我们</title>
    <link th:href="@{../bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{../bootstrap/css/bootstrap-theme.css}" rel="stylesheet">
    <link th:href="@{../myCSS/manage.css}" rel="stylesheet">
</head>
<body >
<table class="table table-striped">
    <caption><button data-toggle="modal" data-target="#myModal_addGoldenInfo" class="btn btn-primary">添加</button></caption>
    <thead>
    <tr>
        <th>模块编号</th>
        <th>所属模块</th>
        <th>所属菜单</th>
        <th>标题</th>
        <th>图片地址</th>
        <th>正文内容</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="m : ${list}">
        <td th:text="${m.id}"></td>
        <td th:text="${m.enumvalueMenu}"></td>
        <td th:text="${m.enumvalueModule}"></td>
        <td th:text="${m.title}"></td>
        <td th:text="${m.imgurl}"></td>
        <td th:text="${m.content.substring(0,15)}+......"></td>
        <td>
            <button class="btn btn-primary editGoldenInfo" data-toggle="modal" data-target="#myModal_editGoldenInfo">修改</button>
            <button class="btn btn-primary deleteGoldenInfo"  data-placement="auto" data-container="body" data-toggle="popover">删除</button>
        </td>
    </tr>
    </tbody>
</table>
<div th:replace="home/addGoldenInfo"></div>
<div th:replace="home/editGoldenInfo"></div>
<div th:replace="home/msg"></div>
<script th:src="@{../jquery/jquery-3.3.1.min.js}" type="text/javascript"></script>
<script th:src="@{../bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{../jquery/jquery.validate.min.js}" type="text/javascript"></script>
<script th:src="@{../jquery/localization/messages_zh.js}" type="text/javascript"></script>
<script th:src="@{../myJS/manage.js}" type="text/javascript"></script>
<!-- 注意， 只需要引用 JS，无需引用任何 CSS ！！！-->
<script type="text/javascript" src="../wangEditor/wangEditor.min.js"></script>
<script type="text/javascript" src="../wangEditor/xss.js"></script>
<script type="text/javascript">
    var E = window.wangEditor;
    var editor = new E('#content');
    var editor_edit = new E('#edit_content');
    editor.customConfig.uploadFileName = 'imgFile';
    // 配置服务器端地址
    editor.customConfig.uploadImgServer = '/upload';
    editor.create();
    editor_edit.customConfig.uploadFileName = 'imgFile';
    // 配置服务器端地址
    editor_edit.customConfig.uploadImgServer = '/upload';
    editor_edit.create();
</script>
</body>
</html>